/* Stylesheet Mancheseter - assignment01 */

body {
	color: #454545;
	background-color: #6f9eaf;
	font-family:  tahoma, palatino, georgia, helvetica, arial, sans-serif;
	line-height: 2em;
	font-size: 14px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 40px;
}

/* header */

h1 a {
	color: #a9294f;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 40px;
	font-family: georgia, helvetica, arial, sans-serif;
	background-color: #d8e6e8;
	margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}

/* Navigation */

.menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	justify-content: space-around;
	display: flex;
	font-weight: bold;
}

.menu a {
	text-decoration: none;
	background-color: #d8e6e8;
	display: block;
	margin: 40px;
	padding: 10px;
	border: groove;
	color: #d6b55c;
	border-radius: 10px;
}

.menu a:hover{
	color: #a9294f;
}

a.is-current {
	color: #a9294f;
}

/* Lower Level Headings */

h2 {
	color: #2b2b2b;
	font-size: 30px;
	background-color: #c6a9a3;
	border: 10px groove #f6d887;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	font-family: georgia, helvetica, arial, sans-serif;
}

h3 {
	color: #2b2b2b;
	font-size: 20px;
	padding: 10px;
	background-color: #c6a9a3;
	border: 6px groove #f6d887;
	border-radius: 10px;
	font-family: georgia, helvetica, arial, sans-serif;
	text-align: center;
}

/* Images */

.restrict {
	max-width: 350px;
	max-height: 300px;
	padding: 10px;
	display: block;
	margin: auto;
}

/* Hyperlinks */

footer {
	font-size: 12px;
	color: #212121;
	text-align: right;
}

a {
	color: #182b26;
}

a:hover {
	color: #a9294f
}

/* Container Layout */

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: grid;
}

.subbox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Container Fomratting */

.subbox1, .subbox2, .subbox3, .subbox4 {
	border: 2px solid #f6d887;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #a9c0c7;
}

.subbox2 {
	display: block;
	margin-top: 0px;
}

